# Variable and Data Types
Variable - A storage location for data in a computer programs is called variable.
* The storage location can be used to store a value and retrieve the value
* Value in a variable can be changed anytime by coder or during execution of program
* The value of variable will determine the datatypes of the variable
* variables are written in small letters in python

In [4]:
# Variable
name = 'Amit'
age = 23
course = 'Python Data Science'
Institue = 'Digipodium Lucknow'

# DATA TYPE IN PYTHON
Python contain multiple types of data

1 INTEGER TYPE - Integer in python, means any numerical values (positive or negative) 
* We can use the type() function to know which class a variable or a value belongs to.

In [2]:
# Integer type data
x = 10
y = 1007647468338
z = -57367324

2 FLOAT TYPE - Float, or "floating point number" is a number, positive or negative, containing one or	more decimals.
* Float can also be scientific numbers with an "e" to indicate the power of 10

In [6]:
# Float Type
a = 10.1
b = 2.5
c = -33.400
d = 87.7e100

STRING - String literals in python are surrounded by either single quotation marks, or double 	quotation marks.
* Multiline Strings :
You can assign a multiline string to a variable by using three quotes  ‘’’ Hey yo ‘’’

In [8]:
# String
first_name = "Amit"
last_name = "Kumar"
course = 'Python Data Science'
institute = "Digipodium"

BOOLEAN - Booleans represent one of two values: True or False. 
* 'hello' is the same as "hello".

In [9]:
# Boolean
is_coding = True
is_python_language = True
is_difficult = False

None Datatype - when you don’t want to store something but want to create an empty variable
* The None keyword is used to define a null value, or no value at all

In [10]:
x = None

# The Special Data Types
List, Tuple, Set, Dictionary ( Data Structure )

LIST - List is an ordered sequence of items in Python and its mutable type data

In [5]:
# LIST
name = ['Amit', 'Sumit', 'Bhavik']
fruits = ['Apple','orange', 'cherry']
mix = [10,21,23,'A','B','C','d',10.4,True]

TUPLES - Tuple is also ordered sequence of items in python but it's immutable mean its not be changeable after assign value

In [7]:
# Tuples
fixed_data = (10,10.2,'hello')
data = (10,12,11,8.3,'lucknow')

SET DATA TYPE -  
Set is an unordered collection of unique items and  items in a set are not ordered, Sets have unique values. They eliminate duplicates.

In [8]:
# SET
a = {10,32,33,42,56,757}
b = {10,1.2,'python'}
colour = {'red','yellow','blue'}

DICTIONARY - Dictionary is an ordered collection of key-value pairs (3.7), Generally used when we have a huge amount of data

In [27]:
# DICTIONARY
from datetime import date
car_info ={
    'brand': 'ford',
    'model': 'mustange',
    'year' : 1964
}

bike_info = [
{
    'brand': 'tvs',
    'model': 'RTR160',
    'year' : 2016,
},

{
    'brand': 'honda',
    'model' : 'cb150r',
    'year': 2022,
},

{
    'brand': 'yamaha',
    'model' : 'R15',
    'year' : 2016,
},
    ]

vehicle_list = bike_info

employee_details = {
    'first_name': 'amit',
    'last_name' : 'kumar',
    'designation' : 'engineer',
    'dob' : 30/3/1999,
}

print(employee_details.keys())
print(employee_details.values())
print(employee_details.get('first_name'))
print(employee_details.items())
print(vehicle_list)

dict_keys(['first_name', 'last_name', 'designation', 'dob'])
dict_values(['amit', 'kumar', 'engineer', 0.0050025012506253125])
amit
dict_items([('first_name', 'amit'), ('last_name', 'kumar'), ('designation', 'engineer'), ('dob', 0.0050025012506253125)])
[{'brand': 'tvs', 'model': 'RTR160', 'year': 2016}, {'brand': 'honda', 'model': 'cb150r', 'year': 2022}, {'brand': 'yamaha', 'model': 'R15', 'year': 2016}]