# Keywords
Keyword are special reserved words that have specific meanings and purpose, and we can't use as a varible name.
* There are 35 keywords in Python.

In [1]:
import keyword
key = (keyword.kwlist)
print(key)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Operators
Operator are used to perform operations on variables and values, Python divide the operators in the following groups,
* 1     Arithmatic Operator
* 2     Assignment Operator
* 3     Comparison Operator
* 4     Logical Operator
* 5     Identity Operator
* 6     Membership Operator
* 7     Bitwise Operator

# 1 Arithmetic Operator
Used with numeric values to perform common mathematical operations

In [2]:
10 + 2  #Addition
10 -2   # Substraction
5 * 3   # Multiplication
10 / 2   # Division
10 % 3   # Modules
10 // 3  # Floor Division
10 ** 3  # Exponentiation

1000

# 2 Assignment Operators
Assignment operators are used to assign value to variable

In [3]:
x = 5

In [4]:
x += 5

In [5]:
x -= 5

In [6]:
x *= 5

In [7]:
x /= 10

In [8]:
x //= 10

In [9]:
x **= 10

# 3 Comparison Operators

Comparison operator are used to compare two values

In [15]:
x = 5
x <= 3 # less than or equal to

False

In [11]:
x = 5
x == 5 # Equal

True

In [12]:
x = 5
x !=  5 # Not Equal

False

In [13]:
x = 5
x > 3 # Greater than

True

In [14]:
x = 5
x < 2 # Less than

False

In [15]:
x = 5
x >= 5 # Greater than or equal to

True

In [16]:
x = 5
x <= 3 # less than or equal to

False

# 4 Logical Operators

* and  --- Its return True in both statement are true
* or   --- It's return True if one of the statement is true
* not  --- It's reverse the result, return False if the result is true

In [19]:
x = 5
x > 2 and x < 7

True

In [20]:
x = 5
x > 2 or x > 7

True

In [21]:
not(x < 5 and x <3)

True

# 5 Identity Operator
Identity operator are used to compare the objects, with the same memory location.
* is      ---- Return True if both variabe are same object  like (x is y)
* is not  ---- Return True if both variable are not the same object  like ( x is not y)

In [26]:
x = [1,2,3,4]
y = [1,2,3,4]
z = x

In [23]:
x == y

True

In [24]:
z == x

True

In [25]:
x = [1,2,3,4]
y = [1,2,3,4]

x is not y

True

In [25]:
x is y

False

In [26]:
x is z

True

In [30]:
print(id(x))
print(id(z))
print(id(y))

2916490209472
2916490209472
2916490477312

# 6 Membership Operators
Membership operators are used to test if sequence is present in an object
* in -- Return True if sequence with the specified value is present in object ( x in y )
* not in --  Return True if sequence with the specified value is not present in object ( x not in y )

In [30]:
days = ['Monday','Tuesday','Wednesday','Thurshday','Friday','Saturday','Sunday']

In [31]:
'Monday' in days

True

In [32]:
'Tuesday' in days

True

In [33]:
'Orange' in days

False

In [34]:
'Orange' not in days

True

# 7 Bit Wise Operators

Bitwise operator is user to compare (binary) number