# Loops in Python
In python or in any other programming language as they help you to execute a block of code repeatedly.
There are two types of loop
* 1 --- for loop
* 2 --- while loop

* Why loop :  --- To write less code, concise code for repeated process
* When need loop --- Run a code block repeatedly Process item in a sequence with same code


# For loop

In [7]:
x = 'PYTHON'
for i in x:
    print(i)

P
Y
T
H
O
N

In [11]:
name = "Amit Kumar"
for i in name:
    print(i)

A
m
i
t

K
u
m
a
r

In [15]:
fruits = ['apple','banana','orange','mango']
for i in fruits:
    print(i)

apple
banana
orange
mango

In [14]:
fruits = ['apple','banana','orange','mango']
for i in fruits:
    print(f"I have some fruits {i}")

I have some fruits apple
I have some fruits banana
I have some fruits orange
I have some fruits mango

In [19]:
for i in range(11):
    print("you got a point",i)

you got a point 0
you got a point 1
you got a point 2
you got a point 3
you got a point 4
you got a point 5
you got a point 6
you got a point 7
you got a point 8
you got a point 9
you got a point 10

In [24]:
for i in range(0,22,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [35]:
# reverse loop
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [34]:
for num in range(20,0,-3):
    print(num)

20
17
14
11
8
5
2

In [36]:
# Pattern Loop
for i in range(10):
    print(i * "*")

*
**
***
****
*****
******
*******
********
*********

In [38]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 ==0:
        print(f"These number are divided via: {i}")

These number are divided via: 15
These number are divided via: 30
These number are divided via: 45

In [39]:
for i in range(101):
    if i % 2 ==0:
        print(f"This is odd number: {i}")

This is odd number: 0
This is odd number: 2
This is odd number: 4
This is odd number: 6
This is odd number: 8
This is odd number: 10
This is odd number: 12
This is odd number: 14
This is odd number: 16
This is odd number: 18
This is odd number: 20
This is odd number: 22
This is odd number: 24
This is odd number: 26
This is odd number: 28
This is odd number: 30
This is odd number: 32
This is odd number: 34
This is odd number: 36
This is odd number: 38
This is odd number: 40
This is odd number: 42
This is odd number: 44
This is odd number: 46
This is odd number: 48
This is odd number: 50
This is odd number: 52
This is odd number: 54
This is odd number: 56
This is odd number: 58
This is odd number: 60
This is odd number: 62
This is odd number: 64
This is odd number: 66
This is odd number: 68
This is odd number: 70
This is odd number: 72
This is odd number: 74
This is odd number: 76
This is odd number: 78
This is odd number: 80
This is odd number: 82
This is odd number: 84
This is odd number: 86
This is odd number: 88
This is odd number: 90
This is odd number: 92
This is odd number: 94
This is odd number: 96
This is odd number: 98
This is odd number: 100

In [40]:
places = ['lucknow','basti','delhi','uttar pradesh']
for place in places:
    print(f"{place} is {len(place)} charactors.")

lucknow is 7 charactors.
basti is 5 charactors.
delhi is 5 charactors.
uttar pradesh is 13 charactors.

In [41]:
name = ['anit','amit','arav','sumit']
for n in name:
    print(n)

anit
amit
arav
sumit

In [16]:
num = [1,2,2,23,2,4,5,33,2,4,3,3,4,6,6,6,2,2]
x = 0
for i in num:
    if i == 6:
        x += 1
print(x)

3

In [51]:
a = ['a','a','b','b','t']
s = []
for n in a:
    if n == 'b':
        s += 'b'
print(s)

['b', 'b']

# While loop
The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is True.
* We generally use this loop when we don't know the number of times to iterate beforehand.

In [4]:
x = 1
while x < 5:
    print('running')
    x += 1
print('stop')

running
running
running
running
stop

In [9]:
a = 2
while a < 3:
    print("Success!")
    a += 1
print("stop")

Success!
stop

In [10]:
n = 5
sum = 0
i =1

while i <= n:
    sum = sum + i
    i = i+1

print("The sum is",sum)

The sum is 15

In [14]:
num = 10
sum = 0
i = 1

while i <= num:
    sum = sum + i
    i = i + 1

print("The sum is", sum)

The sum is 55

In [15]:
while input("continue?") == "y":
    print("Continue running")

Continue running
Continue running
Continue running
Continue running

In [17]:
while len(input("Place insert"))  > 0:
    print("Place is saved in database")

Place is saved in database

In [21]:
# break
num = int(input("Enter a number: "))
while num > 0:
    if num % 3 == 0:
        break
    print(num)
    num -=1

200009099
200009098

In [24]:
name = ['amit','anit','abhi']
while True:
    if 'abhi' in name:
        break
print('Yes its available')

Yes its available

In [25]:
story = ""
while True:
    line = input("Enter a line:")
    if line == "":
        break
    story += line + "\n"

In [26]:
print(story)

This is first line
This is second line
This is last line

In [28]:
name = []
while True:
    nm = input("Enter your name: ")
    if nm == "":
        break
    name += nm + "\n"
print(name)

['A', 'm', 'i', 't', '\n', 'S', 'u', 'm', 'i', 't', '\n', 'R', 'a', 'v', 'i', '\n', 'A', 'r', 'u', 'n', '\n']

In [33]:
name = ""
while True:
    nm = input("Enter Word: ")
    if nm == "":
        break
    name += nm + "\n"
print(name)

A
B
C
D
E

In [39]:
n = [1,2,3,4,5,6,9,9,9,9,9,9,9,0]
for i in n:
    if i == 0:
        continue
    print(i)

1
2
3
4
5
6
9
9
9
9
9
9
9

In [36]:
name = ['anit','amit','arav','sumit']
for i in name:
    if i == 'anit':
        continue
    print(i)

amit
arav
sumit

# For else loop

In [48]:
name = ['anit','amit','arav','sumit']
for n in name:
    if n == 'ant':
        print("Anit is found")
        break
else:
    print("Anit is not found")

Anit is not found

In [43]:
name = ['anit','amit','arav','sumit']
for n in name:
    print("We have some names",n)
else:
    print("The loop is running successfully!")

We have some names anit
We have some names amit
We have some names arav
We have some names sumit
The loop is running successfully!

In [56]:
# prime number program
num = int(input('Enter a number: '))
for i in range(2,num):
    print(f'{num}/{i} == {num%i}')

    if num % i == 0:
        print(f"{num} is not prime number")
        break
else:
    print(f"{num} is a prime number")

7/2 == 1
7/3 == 1
7/4 == 3
7/5 == 2
7/6 == 1
7 is a prime number

# Enumerate and zip

In [57]:
name = ['anit','amit','arav','sumit']
for i in enumerate(name):
    print(i)

(0, 'anit')
(1, 'amit')
(2, 'arav')
(3, 'sumit')

In [58]:
name = ['anit','amit','arav','sumit']
for i, val in enumerate(name):
    print(i,val)

0 anit
1 amit
2 arav
3 sumit

In [59]:
# sum total number in a list
a = [1,2,32,1,2,3,2,12,3,4,6,5]
b = [3,4,5,6,4,6,7,8,9,7,6,6,5]
c = [9,7,5,6,4,6,4,6,7,8,9,5,6]

for i,j,k in zip(a,b,c):
    print(i+j+k, end=' ')

13 13 42 13 10 15 13 26 19 19 21 16

In [61]:
a = [1,2,32,1,2,3,2,12,3,4,6,5]
b = [3,4,5,6,4,6,7,8,9,7,6,6,5]
c = [9,7,5,6,4,6,4,6,7,8,9,5,6]

for i,j,k in zip(a,b,c):
    print(i,j,k)

1 3 9
2 4 7
32 5 5
1 6 6
2 4 4
3 6 6
2 7 4
12 8 6
3 9 7
4 7 8
6 6 9
5 6 5

In [2]:
c = 0
for i in range(11):
    if i%5 == 0:
        c += 1
        print(c)

1
2
3