# Python String

In [17]:
nam = 'Amit Kumar'

In [18]:
len(nam)

10

In [22]:
# Indexing access element
fname = nam[0:4]
fname

'Amit'

In [20]:
nam[5]

'K'

In [21]:
# Concatination
nam[0]+ nam[1]+ nam[2]+ nam[3] + nam[4]

'Amit '

In [12]:
# String slicing
name = "Digipodium"
s = name[4:7]
print(s)

pod

In [32]:
name1 = "Vijay Deenanath Chauhan"
b=name1[6:15]
print(b)

 Deenanath

In [35]:
name1[-8:]

' Chauhan'

In [36]:
# getting a slicing
name = 'Digipodium'
a = name[0:4]
b = name[:4]

print(a)
print(b)

Digi
Digi

In [39]:
# Accesss chauhan
name1 = "Vijay Deenanath Chauhan"
a = name1[16:len(name1)]
b = name1[-7:]
print(a)
print(b)

Chauhan
Chauhan

In [57]:
# chr
x = chr(65)
print(x)

s = chr(1234)
print(s)

d = chr(1212)
print(d)

e = chr(2321)
print(e)

h = chr(2324)
print(h)

A
Ӓ
Ҽ
ऑ
औ

In [66]:
for i in range(2120,2430):
    print(chr(i))

ࡈ
ࡉ
ࡊ
ࡋ
ࡌ
ࡍ
ࡎ
ࡏ
ࡐ
ࡑ
ࡒ
ࡓ
ࡔ
ࡕ
ࡖ
ࡗ
ࡘ
࡙
࡚
࡛
࡜
࡝
࡞
࡟
ࡠ
ࡡ
ࡢ
ࡣ
ࡤ
ࡥ
ࡦ
ࡧ
ࡨ
ࡩ
ࡪ
࡫
࡬
࡭
࡮
࡯
ࡰ
ࡱ
ࡲ
ࡳ
ࡴ
ࡵ
ࡶ
ࡷ
ࡸ
ࡹ
ࡺ
ࡻ
ࡼ
ࡽ
ࡾ
ࡿ
ࢀ
ࢁ
ࢂ
ࢃ
ࢄ
ࢅ
ࢆ
ࢇ
࢈
ࢉ
ࢊ
ࢋ
ࢌ
ࢍ
ࢎ
࢏
࢐
࢑
࢒
࢓
࢔
࢕
࢖
ࢗ
࢘
࢙
࢚
࢛
࢜
࢝
࢞
࢟
ࢠ
ࢡ
ࢢ
ࢣ
ࢤ
ࢥ
ࢦ
ࢧ
ࢨ
ࢩ
ࢪ
ࢫ
ࢬ
ࢭ
ࢮ
ࢯ
ࢰ
ࢱ
ࢲ
ࢳ
ࢴ
ࢵ
ࢶ
ࢷ
ࢸ
ࢹ
ࢺ
ࢻ
ࢼ
ࢽ
ࢾ
ࢿ
ࣀ
ࣁ
ࣂ
ࣃ
ࣄ
ࣅ
ࣆ
ࣇ
ࣈ
ࣉ
࣊
࣋
࣌
࣍
࣎
࣏
࣐
࣑
࣒
࣓
ࣔ
ࣕ
ࣖ
ࣗ
ࣘ
ࣙ
ࣚ
ࣛ
ࣜ
ࣝ
ࣞ
ࣟ
࣠
࣡
࣢
ࣣ
ࣤ
ࣥ
ࣦ
ࣧ
ࣨ
ࣩ
࣪
࣫
࣬
࣭
࣮
࣯
ࣰ
ࣱ
ࣲ
ࣳ
ࣴ
ࣵ
ࣶ
ࣷ
ࣸ
ࣹ
ࣺ
ࣻ
ࣼ
ࣽ
ࣾ
ࣿ
ऀ
ँ
ं
ः
ऄ
अ
आ
इ
ई
उ
ऊ
ऋ
ऌ
ऍ
ऎ
ए
ऐ
ऑ
ऒ
ओ
औ
क
ख
ग
घ
ङ
च
छ
ज
झ
ञ
ट
ठ
ड
ढ
ण
त
थ
द
ध
न
ऩ
प
फ
ब
भ
म
य
र
ऱ
ल
ळ
ऴ
व
श
ष
स
ह
ऺ
ऻ
़
ऽ
ा
ि
ी
ु
ू
ृ
ॄ
ॅ
ॆ
े
ै
ॉ
ॊ
ो
ौ
्
ॎ
ॏ
ॐ
॑
॒
॓
॔
ॕ
ॖ
ॗ
क़
ख़
ग़
ज़
ड़
ढ़
फ़
य़
ॠ
ॡ
ॢ
ॣ
।
॥
०
१
२
३
४
५
६
७
८
९
॰
ॱ
ॲ
ॳ
ॴ
ॵ
ॶ
ॷ
ॸ
ॹ
ॺ
ॻ
ॼ
ॽ

In [71]:
# ord ()
n = ord('A')
print(n)

65

In [76]:
name = ord('D')
print(name)

68

In [77]:
name = "Amit kumar"
len(name)

10

In [78]:
# Concatination
a = "Hello"
b = "world"
print(a+' '+b)

Hello world

In [82]:
a = 'This'
b = 'is'
c = 'Python'
d = 'Programming'

print(a + ' ' + b +' ' + c +' ' + d)

This is Python Programming

In [87]:
ab = 'Hello'
print(ab*4)

HelloHelloHelloHello