# Data Structure
# List
- indexed structure
- mutable
- ordered
- can contains duplicate
- hetrogeneos values
- can be nested
- list has 11 methods
- 'list()' is the function convert to other iterble to lists.
- string is immutale

In [2]:
movies = ['RRR','Attack','Avengers', 'Avatar','Badshah']
movies[0]

'RRR'

In [3]:
movies[1]

'Attack'

In [4]:
movies[-1]

'Badshah'

In [5]:
# replace the value
movies[1] = 'ABCD'
print(movies)

['RRR', 'ABCD', 'Avengers', 'Avatar', 'Badshah']

In [6]:
# 1st two movies
movies[0:2]

['RRR', 'ABCD']

In [7]:
# last 2 movies
movies[-2:]

['Avatar', 'Badshah']

In [8]:
movies[1::2] # every second element(odd index)

['ABCD', 'Avatar']

In [9]:
movies[::-1] # reverse the list

['Badshah', 'Avatar', 'Avengers', 'ABCD', 'RRR']

In [10]:
for m in movies:   # loop in list
    print(f'I have watch {m}')

I have watch RRR
I have watch ABCD
I have watch Avengers
I have watch Avatar
I have watch Badshah

# function and operation on list

In [11]:
x = [10] * 10
print(x)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [12]:
x = [1,2,3,4]
y = [5,6,7,8]
x + y

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
n = [1,2,31,2,3,4,43,32,4,5,5,43,3,3,3,3,3,4,5,6,7,7,88,9]
sorted(n)

[1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 7, 7, 9, 31, 32, 43, 43, 88]

In [14]:
sum(n)/len(n)  # avarage value

13.166666666666666

In [15]:
max(n)

88

In [16]:
min(n)

1

In [17]:
len(n)

24

In [18]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

# methods of list
- adding item in list       
    append()
    insert()
    extend()
- removing item in list      
    pop()
    remove()
    clear()
- utility function        
    sort()
    reverse()
    index()
    count()
    copy()

In [19]:
books = ['The Final Empire',
        'The Wel of Ascension',
        'The hero of ages',
        'Steelheart',
        'Legion',
        'Firefight',
        'Calamity',
        'Way of the kings',
        'Othbringer',
        'The Rythm of war',
        'Word of radiance',
        ]
print(books)

['The Final Empire', 'The Wel of Ascension', 'The hero of ages', 'Steelheart', 'Legion', 'Firefight', 'Calamity', 'Way of the kings', 'Othbringer', 'The Rythm of war', 'Word of radiance']

# Append

In [20]:
books.append('The warrior') # append the books
books.append('The Story')
books.append('False')
books.append(['apple','banana','mango'])
books

['The Final Empire',
 'The Wel of Ascension',
 'The hero of ages',
 'Steelheart',
 'Legion',
 'Firefight',
 'Calamity',
 'Way of the kings',
 'Othbringer',
 'The Rythm of war',
 'Word of radiance',
 'The warrior',
 'The Story',
 'False',
 ['apple', 'banana', 'mango']]

In [21]:
len(books)

15

In [22]:
books[-1][0]

'apple'

# Insert

In [23]:
books.insert(5,'The Cat')
books

['The Final Empire',
 'The Wel of Ascension',
 'The hero of ages',
 'Steelheart',
 'Legion',
 'The Cat',
 'Firefight',
 'Calamity',
 'Way of the kings',
 'Othbringer',
 'The Rythm of war',
 'Word of radiance',
 'The warrior',
 'The Story',
 'False',
 ['apple', 'banana', 'mango']]

In [24]:
books.insert(-5, 'The Alloy of Law')
print(books)

['The Final Empire', 'The Wel of Ascension', 'The hero of ages', 'Steelheart', 'Legion', 'The Cat', 'Firefight', 'Calamity', 'Way of the kings', 'Othbringer', 'The Rythm of war', 'The Alloy of Law', 'Word of radiance', 'The warrior', 'The Story', 'False', ['apple', 'banana', 'mango']]

# Extends

In [25]:
# We can add multi item or list in existing list
books_1 = ['Two state','The White Tiger','The Twilight saga']  

books.extend(books_1)

In [26]:
books.extend([1,2,3,4])
print(books)

['The Final Empire', 'The Wel of Ascension', 'The hero of ages', 'Steelheart', 'Legion', 'The Cat', 'Firefight', 'Calamity', 'Way of the kings', 'Othbringer', 'The Rythm of war', 'The Alloy of Law', 'Word of radiance', 'The warrior', 'The Story', 'False', ['apple', 'banana', 'mango'], 'Two state', 'The White Tiger', 'The Twilight saga', 1, 2, 3, 4]

In [27]:
len(books)

24

# Removing the item

# remove

In [28]:
books.remove('The White Tiger')

In [29]:
remove_book = 'The Final Empire'
if remove_book in books:
    books.remove(remove_book)
    print('The books is removed from book list')
else:
    print(f'{remove_book} is not available in books')

The books is removed from book list

In [30]:
books

['The Wel of Ascension',
 'The hero of ages',
 'Steelheart',
 'Legion',
 'The Cat',
 'Firefight',
 'Calamity',
 'Way of the kings',
 'Othbringer',
 'The Rythm of war',
 'The Alloy of Law',
 'Word of radiance',
 'The warrior',
 'The Story',
 'False',
 ['apple', 'banana', 'mango'],
 'Two state',
 'The Twilight saga',
 1,
 2,
 3,
 4]

# pop()

In [31]:
books.pop(-3)

2

In [32]:
books.pop()

4

# clear()

In [33]:
books.clear() # its clear all item from list

# Utility Function
# sort()

In [35]:
y = [1,2,32,3,2,23,22,2,2,3,4,5,6,765,5,55,6,54,4,43]

In [36]:
sorted(y) # its sort but not update the list

[1, 2, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 22, 23, 32, 43, 54, 55, 765]

In [39]:
y.sort() # its sort and also update the list
print(y)

[1, 2, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 22, 23, 32, 43, 54, 55, 765]

In [41]:
name = ['amit','raj','sumit','rahul']

In [42]:
name.sort()
print(name)

['amit', 'rahul', 'raj', 'sumit']

# reverse()

In [44]:
name.sort(reverse=True)  # we can reverse the list
print(name)

['sumit', 'raj', 'rahul', 'amit']

# count()

In [46]:
x = [9,8,7,6,5,4,4,6,6,5,6,7]
x.count(6)

4

# index()

In [47]:
x = [9,8,7,6,5,4,4,6,6,5,6,7] # via this function we can find the index position
x.index(8)

1

In [55]:
x = [9,8,7,6,5,4,4,6,6,5,6,7,100,23,1223,121,222]   # this is the right method for search in list ***
if 222 in x:
    print(x.index(222))

16

# copy()

In [62]:
x = [9,8,7,6,5,4,4,6,6,5,6,7,100,23,1223,121,222]
y = x # its assign the all value to y but its not get copy

x.append(1)
z = x.copy()
z.append(33)

In [63]:
print(x)
print(y)
print(z)

[9, 8, 7, 6, 5, 4, 4, 6, 6, 5, 6, 7, 100, 23, 1223, 121, 222, 1]
[9, 8, 7, 6, 5, 4, 4, 6, 6, 5, 6, 7, 100, 23, 1223, 121, 222, 1]
[9, 8, 7, 6, 5, 4, 4, 6, 6, 5, 6, 7, 100, 23, 1223, 121, 222, 1, 33]