# Python String

- indexing
- slicing
- user string function
- methods
-

In [68]:
nam = 'Amit Kumar'

In [67]:
len(nam)

10

In [22]:
# Indexing access element
fname = nam[0:4]
fname

'Amit'

In [20]:
nam[5]

'K'

In [21]:
# Concatination
nam[0]+ nam[1]+ nam[2]+ nam[3] + nam[4]

'Amit '

In [12]:
# String slicing
name = "Digipodium"
s = name[4:7]
print(s)

pod

In [32]:
name1 = "Vijay Deenanath Chauhan"
b=name1[6:15]
print(b)

 Deenanath

In [35]:
name1[-8:]

' Chauhan'

In [36]:
# getting a slicing
name = 'Digipodium'
a = name[0:4]
b = name[:4]

print(a)
print(b)

Digi
Digi

In [39]:
# Accesss chauhan
name1 = "Vijay Deenanath Chauhan"
a = name1[16:len(name1)]
b = name1[-7:]
print(a)
print(b)

Chauhan
Chauhan

In [57]:
# chr
x = chr(65)
print(x)

s = chr(1234)
print(s)

d = chr(1212)
print(d)

e = chr(2321)
print(e)

h = chr(2324)
print(h)

A
Ó’
Ò¼
à¤‘
à¤”

In [1]:
# for i in range(2120,2430):
#     print(chr(i))

In [71]:
# ord ()
n = ord('A')
print(n)

65

In [76]:
name = ord('D')
print(name)

68

In [77]:
name = "Amit kumar"
len(name)

10

In [78]:
# Concatination
a = "Hello"
b = "world"
print(a+' '+b)

Hello world

In [82]:
a = 'This'
b = 'is'
c = 'Python'
d = 'Programming'

print(a + ' ' + b +' ' + c +' ' + d)

This is Python Programming

In [1]:
ab = 'Hello'
print(ab * 4)

HelloHelloHelloHello

methods
 - formatting
 - utility
 - validation

In [54]:
abc = "Hi My name is Amit Kumar, and I am an Engineer. I want to become a Python Developer."

In [4]:
# Formatting
abc.upper()

'HI MY NAME IS AMIT KUMAR AND I AM AN ENGINEER. I WANT TO BECOME A PYTHON DEVELOPER'

In [5]:
abc.lower()

'hi my name is amit kumar and i am an engineer. i want to become a python developer'

In [6]:
abc.capitalize()

'Hi my name is amit kumar and i am an engineer. i want to become a python developer'

In [7]:
abc.title()

'Hi My Name Is Amit Kumar And I Am An Engineer. I Want To Become A Python Developer'

In [8]:
abc.swapcase()

'hI mY NAME IS aMIT kUMAR AND i AM AN eNGINEER. i WANT TO BECOME A pYTHON dEVELOPER'

In [9]:
# Chaining method
abc.title().swapcase()

'hI mY nAME iS aMIT kUMAR aND i aM aN eNGINEER. i wANT tO bECOME a pYTHON dEVELOPER'

In [11]:
abc = abc.upper()
abc

'HI MY NAME IS AMIT KUMAR AND I AM AN ENGINEER. I WANT TO BECOME A PYTHON DEVELOPER'

In [13]:
name = "Jackson"
print(name)

Jackson

In [20]:
name.ljust(20)

'Jackson             '

In [18]:
name.rjust(15)

'        Jackson'

In [23]:
name.rjust(10,'-')

'---Jackson'

In [26]:
name.center(50,'ðŸ˜Š')

'ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠJacksonðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š'

In [27]:
# Validation

name = input("Input your name?")
if not name.isalpha():
    print("name is invalid")
else:
    print("good job")

good job

In [36]:
num = input("Enter a numbers: ")
if num.isnumeric():
    print("Good job")
else:
    print("Invalid")

Good job

In [37]:
abc

'HI MY NAME IS AMIT KUMAR AND I AM AN ENGINEER. I WANT TO BECOME A PYTHON DEVELOPER'

In [38]:
abc.isupper()

True

In [42]:
abc.islower()

False

In [50]:
z = 'Dr John'
z.startswith('Dr')

True

In [43]:
x = 'file.png'
x.endswith('png')

True

Important stuff below
 - split
 - join
 - strip
 - replace
 - count
 - find

In [51]:
abc

'HI MY NAME IS AMIT KUMAR AND I AM AN ENGINEER. I WANT TO BECOME A PYTHON DEVELOPER'

In [52]:
a = abc.split()
print(a)

['HI', 'MY', 'NAME', 'IS', 'AMIT', 'KUMAR', 'AND', 'I', 'AM', 'AN', 'ENGINEER.', 'I', 'WANT', 'TO', 'BECOME', 'A', 'PYTHON', 'DEVELOPER']

In [62]:
p=abc.split('e')
print(p)

['Hi My nam', ' is Amit Kumar, and I am an Engin', '', 'r. I want to b', 'com', ' a Python D', 'v', 'lop', 'r.']

In [65]:
b = abc.split('.')
print(b)

['Hi My name is Amit Kumar, and I am an Engineer', ' I want to become a Python Developer', '']

In [63]:
# count of charactors
len(abc)

84

In [64]:
# count of words
len(abc.split())

18

In [70]:
# Join - Help to join the list of word
message = ['Hello', 'How', 'are', 'you']
s = ' '.join(message)
print(s)

Hello How are you

In [75]:
# Strip() - Remove extra spaces - real time use like - password creation
password = input("Enter Password: ")
print(len(password),password)
password = password.strip()
print(password)

10 1212332
1212332

In [77]:
# Replace
abc.replace('a','S')

'Hi My nSme is Amit KumSr, Snd I Sm Sn Engineer. I wSnt to become S Python Developer.'

In [78]:
abc.replace('Hi',' ')

'  My name is Amit Kumar, and I am an Engineer. I want to become a Python Developer.'

In [79]:
# Count - Count the numbers of accurence -- how many time repeat
asd = 'Hi this is my personal laptop, Hi i am amit.'
asd.count('Hi')

2

In [80]:
asd.count('is')

2

In [83]:
# find - will help to find the str position (index range)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
asd.find('i')

1