# Set Data type
- Its contain unique value
- Set is an unorderd collection of items.Every set element is unique(no duplicate)

In [4]:
my_set = {1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [5]:
my_set = {1.0, "Hello", (1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}

In [6]:
s = set([1,2,3,45,5,'Hello'])
print(s)

{1, 2, 3, 5, 45, 'Hello'}

In [7]:
d = {1,2,3,3,3,3,4,3,1,2}
print(d)

{1, 2, 3, 4}

In [1]:
# create an empty set
s = set()
type(s)

set

# Modifying a Set()

In [11]:
my_set = {1,3}
print(my_set)

{1, 3}

In [12]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [13]:
my_set.update([1,4,5,6,8,7,7])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
my_set.update(['amit',9,0,'g'])
print(my_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'g', 'amit'}

# Removing items from set

In [15]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

# discard

In [27]:
my_set.discard(5)
print(my_set)

{1, 2, 3, 4, 6}

In [26]:
my_s = {1,2,3,4,5,6}   # we can't slic to set
print(my_s)

{1, 2, 3, 4, 5, 6}

# pop

In [28]:
my_set.pop()
print(my_set)

{2, 3, 4, 6}

# Python Set Operation

In [30]:
A = {1,2,3,4}
B = {3,4,5,6}

# Union in set

In [31]:
print(A | B)

{1, 2, 3, 4, 5, 6}

In [32]:
A.union(B)

{1, 2, 3, 4, 5, 6}

In [33]:
B.union(A)

{1, 2, 3, 4, 5, 6}

# Set Intersection

In [34]:
print(A & B)  # We can find common value

{3, 4}

In [35]:
A.intersection(B)

{3, 4}

# Set Diffrence

In [36]:
A = {1,2,3,4,5,5,6,7,8}   # we can find diffrence between two sets
B = {9,0,7,6,7,8,9,11,121,112}

In [37]:
print(A - B)

{1, 2, 3, 4, 5}

In [38]:
print(B - A)

{0, 9, 11, 112, 121}

In [39]:
A.difference(B)

{1, 2, 3, 4, 5}

In [40]:
B.difference(A)

{0, 9, 11, 112, 121}

# Set Symmetric Diffrence

In [41]:
A = {1,2,3,4,5,5,6,7,8} 
B = {9,0,7,6,7,8,9,11,121,112}

In [43]:
(A ^ B)  # ^ carret

{0, 1, 2, 3, 4, 5, 9, 11, 112, 121}

In [44]:
A.symmetric_difference(B)

{0, 1, 2, 3, 4, 5, 9, 11, 112, 121}

# Activity
create 2 set of electric device and perform set operation on them

In [47]:
device1 = {'ROUTER','Switch','Laptop','CPU'}
device2 = {'Monitor','Printer','CPU','Scanner','ROUTER'}

In [48]:
# 1 Union
print(device1 | device2)

{'CPU', 'Monitor', 'Switch', 'ROUTER', 'Scanner', 'Printer', 'Laptop'}

In [49]:
# 2 Intersection
device1.intersection(device2)

{'CPU', 'ROUTER'}

In [50]:
# 3 Diffrence
(device1 - device2)

{'Laptop', 'Switch'}

In [51]:
# 4 symmetric diffrence
device1.symmetric_difference(device2)

{'Laptop', 'Monitor', 'Printer', 'Scanner', 'Switch'}